
<ul>
  <!-- <li><a (click)="navigateTo('home')">Home</a></li>
    <li><a (click)="navigateToMen()">Mens</a></li>
    <li><a (click)="navigateToWomen()">Womens</a></li>
    <li><a (click)="navigateTo('kids')">Kids</a></li>
    <li><a (click)="navigateTo('sale')">Sale</a></li>
    <li><a (click)="navigateTo('sira')">Sira</a></li>
    <li><a (click)="navigateTo('universities')">universities</a></li> -->
    <li><a (click)="navigateTo('login')">login</a></li>
    <li><a (click)="navigateTo('sign-up')">sign-up</a></li>
    <li><a (click)="navigateTo('udemy')">Udemy</a></li> 
    

    <li><a (click)="navigateTo('communication')">communication</a></li>
    <li><a (click)="navigateTo('cart')">Cart--{{noOfCoursesIncart}}</a></li>
    {{userName}}======
    <!-- <li><a (click)="navigateTo('form')">form</a></li> -->
  </ul>
 <!-- <app-names></app-names> -->


  <router-outlet></router-outlet>

<!-- <p>i am working</p>
 <app-remote-header></app-remote-header>
<app-remote-share></app-remote-share>
<app-remote-connect></app-remote-connect> -->
<!--<button (click)="changeButtonAngular()">Angular</button><br>
<button (click)="changeButtonReact()">React</button><br>
<button (click)="changeButtonVue()">Vue</button><br>

<app-course></app-course>

<app-header></app-header>
<app-other-tools></app-other-tools>
<app-case-status></app-case-status> -->
<!-- <p>ExxonMobil webpage</p>
<app-exxon-energy></app-exxon-energy>
<app-exxon-header>
</app-exxon-header>
<app-exxon-lithium></app-exxon-lithium> -->

<!-- <h1> app-exxon-energy</h1>
<h2>app-exxon-header</h2>
<h3>app-exxon-lithium</h3>
<body>
    <app-exxon-energy></app-exxon-energy>
    <app-exxon-header></app-exxon-header>
    <app-exxon-lithium></app-exxon-lithium>
</body> -->
<!-- <app-usps></app-usps>
<app-usps-search></app-usps-search>
<app-usps-supplies></app-usps-supplies> -->
<!-- <app-course></app-course> -->
<!-- <app-luxoft></app-luxoft>
<app-luxoft-body></app-luxoft-body>
<app-luxoft-services></app-luxoft-services> -->
<!-- <app-sv-opticals></app-sv-opticals> -->
<!-- <app-sira-inc></app-sira-inc> -->
