<p>case-status works!</p>
<p>Check Case Status
    Use this tool to track the status of an immigration application, petition, or request.
    
    The receipt number is a unique 13-character identifier that consists of three letters and 10 numbers. Omit dashes ("-") when entering a receipt number. However, you can include all other characters, including asterisks ("*"), if they are listed on your notice as part of the receipt number. When a receipt number is entered, the check status button will be enabled and you can check the status.</p>