.course-container {
    display: inline-block;
    border: 1px solid gray;
    padding: 2px;
    
    box-shadow: 0 10px 20px rgb(36, 36, 36);
    background-color: orangered;
    background-image: linear-gradient(to bottom, #ffb900, #cc8660);
    height: 345px;
    margin: 30px;
    width: 200px; /* for 3 cards in a row, adjust the percentage as needed */
    
  
    .course-img {
      /* height: 100%; */
    }
  
    .course-name {
      padding: 5px 0px;
      font-size: 18px;
      font-weight: 600;
    }
  
    .course-instructor-price {
      padding: 5px 0px;
      font-size: 16px;
      font-weight: 500;
    }
  
  }
  
  .mar-30 {
    margin: 30px;;
  }